{
    "demo": false, 
    "page_adv_pin": 18, 
    "port": null, 
    "pages": [
        [
            {
                "type": "Text", 
                "config": {
                    "dimensions": {
                        "y": 60, 
                        "x": 250
                    }, 
                    "title": "RPM", 
                    "color": "#53B9E8", 
                    "max": 8000, 
                    "min": 0, 
                    "label_font_size": 60, 
                    "redline": 90, 
                    "title_font_size": 20, 
                    "buffer_size": 30, 
                    "position": {
                        "y": 53, 
                        "x": 430
                    }
                }, 
                "sensor": "RPM"
            }, 
            {
                "type": "Bar_h", 
                "config": {
                    "dimensions": {
                        "y": 80, 
                        "x": 400
                    }, 
                    "title": "RPM", 
                    "color": "#53B9E8", 
                    "max": 8000, 
                    "min": 0, 
                    "label_font_size": 30, 
                    "redline": 6000, 
                    "title_font_size": 20, 
                    "buffer_size": 60, 
                    "position": {
                        "y": 32, 
                        "x": 22
                    }
                }, 
                "sensor": "RPM"
            }
        ]
    ]
}